.chatroom-container {
    display: flex;
    height: 89vh;
    background: #3E4F69;
}

.chatroom-sidebar {
    width: 25%;
    background: #FFF8E7;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.chatroom-contacts {
    display: flex;
    flex-direction: column;
}

.chatroom-contact {
    padding: 15px;
    border-bottom: 2px solid #FFDB58;
    font-size: 16px;
    cursor: pointer;
}

.chatroom-contact strong {
    display: block;
}

.chatroom-contact p {
    font-size: 12px;
    color: gray;
}

/* Chatbox */
.chatroom-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.chatroom-messages {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Messages */
.chatroom-message {
    max-width: 60%;
    padding: 15px;
    border-radius: 12px;
    font-size: 16px;
}

.chatroom-sent {
    background: #FFDB58;
    align-self: flex-end;
    border-radius: 12px 12px 0 12px;
}

.chatroom-received {
    background: #FFF8E7;
    align-self: flex-start;
    border-radius: 12px 12px 12px 0;
}

/* Input Box */
.chatroom-input-box {
    display: flex;
    padding: 10px;
    background: #3E4F69;
    border-radius: 12px;
}

.chatroom-input {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    background: #FFF8E7;
}

.chatroom-send-button {
    margin-left: 10px;
    padding: 12px 20px;
    background: #FFDB58;
    border: 2px solid black;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}
