.navbar {
    background-color: #FFDB58;
    box-shadow: 0px 4px 10px rgb(88, 70, 8);
    padding: 16px;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo-img {
    width: 60px;
}

.signout-btn {
    padding: 8px 16px;
    border: 1px solid #3E4F69;
    border-radius: 9999px;
    color: #3E4F69;
    display: flex;
    align-items: center;
    background: none;
    cursor: pointer;
    white-space: nowrap;
}
